 
:root {
  --background-color: #fff;
  --message-color: #b5915f;
  --border-color:#000;
  --top-background-color: #000;
  --bottom-background-color: #fff;
  --light-tile-color: #fff;
  --dark-tile-color: #000;
  --font-color: #333;
  --chessboard-width: 560px;
  --chessboard-tile-width: 70px;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.text {
  color: var(--message-color);
}

.chessboard {
  display: none;
}

@media screen and (min-width: 700px) {
  .text {
    display: none;
  }
  .chessboard {
    border: 49px solid var(--border-color);
    width: var(--chessboard-width);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40px repeat(8, var(--chessboard-tile-width)) 40px;
  }
  .row {
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(8, var(--chessboard-tile-width));
  }
  .top{
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--top-background-color);
  }
  .bottom {
    border: 1px solid #000;
    background-color: var(--bottom-background-color);
  }
  .tile {
    padding: 20px;
    background-color: var(--dark-tile-color);
    color: var(--font-color);
  }
  .tile__number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row:nth-child(even) .tile:nth-child(odd),
  .row:nth-child(odd) .tile:nth-child(even) {
    background-color: var(--light-tile-color);
  }
}
